@import "variables";
@import "mixins";

$inputRadius: 4px;
.input-field {
  display: flex;
  flex-direction: column;
  label {
    @include font($md, $bold)
  }

  input {
    $border-color: $color-primary;
    padding: .4rem .6rem;
    border-radius: $inputRadius;
    border: 1px solid color($border-color, $variant-base);
    outline: none;
    transition: all .1s linear;
    &:hover {
      //border-color: color($border-color, $color-variant-dark);
    }

    &:focus {
      //box-shadow: 0 0 3px 2pt color($accent, $dark);
      //border-color: color($border-color, $color-variant-dark);
      box-shadow: 0 0 5px  color($border-color, $base);
      //outline: $color-variant-base;
    }

  }
}