@import "variables";
@import "mixins";

$inputRadius: 4px;
.input-field {
    display: flex;
    flex-direction: column;
    //margin-bottom: spacing($lg);
    label {
        @include font($md, $bold);
        margin-bottom: 0;
    }
}

input {
    $border-color: $color-primary;
    padding: 0.8rem 0.8rem;
    border-radius: $inputRadius;
    border: 1px solid color($border-color, $variant-base);
    outline: none;
    transition: all 0.1s linear;

    &:focus {
        box-shadow: 0 0 5px color($border-color, $base);
    }
}
