@import "variables";

@mixin rounded($size: $cornerRadius) {
    border-radius: $size;
}

@mixin container($padding: $base) {
    padding: spacing($padding);
    @content;
}

@mixin shadowbox {
    //background-color: white;
    @include rounded($lg);
    box-shadow: 0 6.9px 21px -24px rgba(0, 0, 0, 0.012),
        0 11.5px 32.3px -24px rgba(0, 0, 0, 0.036),
        0 13.9px 37.7px -24px rgba(0, 0, 0, 0.074),
        0 24px 63px -24px rgba(0, 0, 0, 0.15);
}
@mixin button($bgColor, $colorText) {
    $shadowHeight: 4px;
    $pressY: 1px;
    $shadowColor: rgba(0, 0, 0, 0.2);
    //$bgColor: color($color-primary);
    $bgColorActive: darken($bgColor, 5%);
    @include font($base);
    background-color: $bgColor;
    color: $colorText;
    padding: 1rem 1.4rem;
    border-radius: 1.4rem;
    border: none;
    outline: none;
    box-shadow: inset 0 -1 * $shadowHeight 0 0 $shadowColor;
    transition: all 0.1s;
    //border-bottom: $shadowHeight solid $shadowColor;

    &.small {
        @include font($sm);
        padding: 0.6rem 1rem;
        box-shadow: none;
    }

    &:hover {
        background-color: $bgColorActive;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0 0 0 0 $shadowColor;
        transform: translateY($pressY);
        background-color: darken($bgColorActive, 5%);
    }

    &.outlined {
        border: 1px solid $bgColor;
        background-color: transparent;
        color: $bgColor;

        &:hover {
            background-color: $bgColor;
            color: $colorText;
        }

        &:active {
            background-color: darken($bgColorActive, 5%);
            color: $colorText;
        }
    }

    .outlined {
        background-color: $colorText;
        border-color: $bgColorActive;
        color: $bgColor;
    }
}

/* MEDIA QUERIES */
@mixin maxW($point) {
    @media (max-width: #{$point}px) {
        @content;
    }
}

@mixin minW($point) {
    @media (min-width: #{$point}px) {
        @content;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@mixin logo {
    font-family: $font-stack-logo;
    font-weight: normal;
}



@mixin hidden-sm {
    @include maxW($br-phone-max) {
        display: none;
    }
}

@mixin visible-sm {
    @include minW($br-phone-max) {
        display: none;
    }
}