@import "variables";

@mixin rounded($size: $cornerRadius) {
    border-radius: $size;
}

@mixin container($padding: $base) {
    padding: spacing($padding);
    @content;
}

@mixin button($bgColor, $colorText) {
    $shadowHeight: 4px;
    $pressY: 1px;
    $shadowColor: rgba(0, 0, 0, 0.2);
    //$bgColor: color($color-primary);
    $bgColorActive: darken($bgColor, 5%);
    @include font($base);
    background-color: $bgColor;
    color: $colorText;
    padding: 1rem 1.4rem;
    border-radius: 1.4rem;
    border: none;
    outline: none;
    box-shadow: inset 0 -1 * $shadowHeight 0 0 $shadowColor;
    transition: all 0.1s;
    //border-bottom: $shadowHeight solid $shadowColor;

    &:hover {
        background-color: $bgColorActive;
        cursor: pointer;
    }
    &:active {
        box-shadow: inset 0 0 0 0 $shadowColor;
        transform: translateY($pressY);
        background-color: darken($bgColorActive, 5%);
    }

    &.outlined {
        border: 1px solid $bgColor;
        background-color: transparent;
        color: $bgColor;

        &:hover {
            background-color: $bgColor;
            color: $colorText;
        }

        &:active {
            background-color: darken($bgColorActive, 5%);
            color: $colorText;
        }
    }
}

/* MEDIA QUERIES */
@mixin maxW($point) {
    @media (max-width: #{$point}px) {
        @content;
    }
}

@mixin minW($point) {
    @media (min-width: #{$point}px) {
        @content;
    }
}


@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}