$textDefault: #2c3e50;

//breakpoints
$widthXxs: 374;
$widthXs: 600;
$widthS: 768;
$widthM: 960;
$widthL: 1024;
$widthXL: 1140;
$widthXXL: 1500;

$br-phone-max: $widthS;
$br-tablet-min: $widthM;
$br-tablet-max: $widthL;
$br-desktop-min: $widthM;

//content
$pageMaxWidth: 750px;
$pageMaxWidthXl: 900px;

//sizes
$xs: "xs";
$sm: "sm";
$base: "base";
$md: "md";
$lg: "lg";
$xl: "xl";
$xxl: "xxl";

//color type
$color-primary: "primary";
$color-accent: "accent";
$color-foreground: "foreground";
$color-background: "background";
$color-text: "text";
$color-shadow: "shadow";
$color-danger: "danger";
$color-success: "success";

//color variants
$variant-base: "base";
$variant-light: "light";
$variant-dark: "dark";

$nav-height: 5.8rem;

//font variants
$bold: bold;
$italic: italic;
$thin: thin;

$theme-colors: (
    $color-primary: (
        $variant-base: #384ea9,
        $variant-light: #e4efff,
        $variant-dark: #273677
    ),
    $color-accent: (
        $variant-base: #f08110,
        $variant-light: #ff8100,
        $variant-dark: #e47f17
    ),
    $color-danger: (
        $variant-base: #d85033,
        $variant-light: lighten(#d85033, 15%),
        $variant-dark: darken(#d85033, 15%)
    ),
    $color-success: (
        $variant-base: #0d8d7f,
        $variant-light: lighten(#0d8d7f, 35%),
        $variant-dark: darken(#0d8d7f, 15%)
    ),
    $color-foreground: (
        $variant-base: #393939,
        $variant-light: #6e6e6e,
        $variant-dark: #111
    ),
    $color-background: (
        $variant-base: #f8f5f5,
        $variant-light: #fff,
        $variant-dark: #ddd
    ),
    $color-text: (
        $variant-base: #393939,
        $variant-light: #fff,
        $variant-dark: #111
    ),
    $color-shadow: (
        $variant-base: #393939,
        $variant-light: #6e6e6e,
        $variant-dark: #111
    )
);

@function color($key: $color-primary, $variant: "base") {
    $map: map-get($theme-colors, $key);
    @return map-get($map, $variant);
}

$base-font-size: 1.6rem;
$base-line-height: 1.2 * $base-font-size;
$font-stack-normal: Avenir, Helvetica, Arial, sans-serif;
$font-stack-heading: "Raleway", sans-serif;
$font-stack-input: "Roboto", sans-serif;
$font-stack-mono: "Roboto", sans-serif;
$font-stack-logo: "CocktailBubbly", sans-serif;
$font-settings: (
    $xs: (
        font-size: 0.75 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-normal
    ),
    $sm: (
        font-size: 0.875 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-normal
    ),
    $variant-base: (
        font-size: $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-normal
    ),
    $md: (
        font-size: 1.125 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-normal
    ),
    $lg: (
        font-size: 1.4 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-heading
    ),
    $xl: (
        font-size: 2 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-heading
    ),
    $xxl: (
        font-size: 3.5 * $base-font-size,
        line-height: $base-line-height,
        family: $font-stack-heading
    )
);

@function text-scale($level) {
    @return map-get(map-get($font-settings, $level), "font-size");
}

@function line-height($level) {
    @return map-get(map-get($font-settings, $level), "line-height");
}

@function font-stack($level) {
    @return map-get(map-get($font-settings, $level), "family");
}

@mixin font($level, $weight: normal) {
    font-family: font-stack($level);
    font-size: text-scale($level);
    //line-height: line-height($level);
    font-weight: $weight;
    @content;
}

//colors
$errorBg: teal;

$cornerRadius: 0.5rem;
$cornerRadiusLg: 1rem;
$cornerRadiusXl: 2rem;

$spacing-settings: (
    $xs: 0.1rem,
    $sm: 0.6rem,
    $variant-base: 1rem,
    $md: 1.2rem,
    $lg: 1.8rem,
    $xl: 3rem,
    $xxl: 5rem
);

@function spacing($level) {
    @return map-get($spacing-settings, $level);
}
